@page "{id}"
@model AssetManagement.Web.Areas.Config.Pages.Users.DetailsModel


<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
               
                <div class="row mb-3">
                    <label class="col-md-3 text-muted">Name</label>
                    <div class="col-md-9"><div class="label-value">@Model.User.Name</div></div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 text-muted">Email</label>
                    <div class="col-md-9"><div class="label-value">@Model.User.Email</div></div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 text-muted">Login ID</label>
                    <div class="col-md-9"><div class="label-value">@Model.User.LoginId</div></div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 text-muted">Is active</label>
                    <div class="col-md-9"><div class="label-value">@Model.User.IsActive</div></div>
                </div>
                @if (Model.User.IsActive == false)
                {
                    <div class="row mb-3">
                        <label class="col-md-3 text-muted">Activation link</label>
                        <div class="col-md-9">

                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3">Copy link</span>
                                <input type="text" class="form-control" value="@($"https://localhost:7084/Identity/Account/Activate?code={Model.User.Id}")">
                            </div>
                        </div>
                    </div>
                }
                <div class="row mb-3">
                    <label class="col-md-3 text-muted">Phone</label>
                    <div class="col-md-9"><div class="label-value">@Model.User.Mobile</div></div>
                </div>
            </div>
            <div class="card-footer text-muted small text-start">
                <div class="row">
                     <label class="col-md-3">Creation date</label>
                <div class="col-md-9"><div class="label-value">@Model.User.CreationDate</div></div>
                 <label class="col-md-3">Last login</label>
                <div class="col-md-9"><div class="label-value">@(Model.User.LastLoginDate?.ToString()??"")</div></div>
            </div>
                </div>
               
        </div> 
        
    </div>
</div>
</div>


@section sidebar{

}