@{
    var area = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower();
    var page = ViewContext.RouteData.Values["page"]?.ToString()?.ToLower();
    var hasSideNav = ViewBag.SideNavPath != null;
    var hasSideBar = IsSectionDefined("sidebar");
    var hasSubTitle = ViewData["PageSubTitle"] != null;
    var hasPageTitle = ViewData["PageTitle"] != null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/icon.svg" />
    <link rel="icon" type="image/svg" href="~/images/icon.svg">
    <title>@ViewData["Title"] - Asset Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select-2-theme/select2-bootstrap-5-theme.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-select-country/dist/css/bootstrap-select-country.min.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow fixed-top" style="background: #2C3D90; height:80px">
            <div class="container-fluid">
                @if (hasSideNav)
                {
                    <div class="navbar-brand" id="menu-btn">
                        <i class="bi-list"></i>
                    </div>
                }
                <a class="navbar-brand" asp-area="" asp-page="/Index">Asset Management</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item @(area==null?"active":"")">
                            <a class="nav-link" asp-area="" asp-page="/Index"><i class="fa-solid fa-house"></i> Home</a>
                        </li>
                        <li class="nav-item @(area=="assets"?"active":"")">
                            <a class="nav-link" asp-area="Assets" asp-page="/Index"><i class="fa-solid fa-magnifying-glass-chart"></i> Assets</a>
                        </li>
                        <li class="nav-item @(area=="notifications"?"active":"")">
                            <a class="nav-link" asp-area="Notifications" asp-page="/Index"><i class="fa-regular fa-bell"></i> Notifications</a>
                        </li>
                        
                    </ul>
                    <ul class="navbar-nav d-flex align-items-end">
                        <li class="nav-item @(area=="config"?"active":"")">
                            <a class="nav-link" asp-area="Config" asp-page="/Index"><i class="fa-solid fa-gear"></i> Config</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
                        </li>
                    </ul>
                </div>
                }
                
            </div>
        </nav>
    </header>
    @if (hasSideNav)
    {
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
            <partial name="@ViewBag.SideNavPath" />
        </div>
    }
    <div class="container-fluid">
        <main role="main" class="@(hasSideNav?"my-container active-cont":"")">
            <div class="@(hasSideBar?"row":"")">
                <div class="py-1 @(hasSideBar?"col-md-9":"")">
                    <div class="row g-2">
                        <div class="col-md">
                            @if (ViewBag.BreadCrumb != null)
                            {
                                <div class="breadcrumb py-2 m-0 small" style="background: none !important">@Url.Render((BreadCrumb)ViewBag.BreadCrumb)</div>
                            }
                            @if (ViewData["PageTitle"] != null)
                            {
                                <h3 class="text-truncate my-0">@ViewData["PageTitle"]</h3>
                            }
                            @if (ViewData["PageSubTitle"] != null)
                            {
                                <h5 class="text-truncate my-0">@ViewData["PageSubTitle"]</h5>
                            }
                        </div>
                        @if (ViewData["SearchPlaceholder"] != null)
                        {
                            <div class="col-md">
                                <div style="max-width:300px" class="p-2 ms-auto">
                                    <form method="get">
                                        <div class="input-group">
                                            <input type="search" placeholder="@ViewData["SearchPlaceholder"]" name="q" value="@ViewData["QueryString"]" class="form-control border-primary" />
                                            <button class="btn btn-outline-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                        @if (ViewBag.ActionBar is PageActionBar actionBar && actionBar.Items.Any())
                        {
                            <div class="col-auto py-2 pe-3 action-bar">@Url.Render(actionBar)</div>
                        }
                    </div>
                    <div class="py-3">
                        @if (ViewBag.QueryString != null)
                        {
                            <div class="mb-1 text-secondary">
                                <i class="fa fa-search"></i> You searched for "<span class="fw-bold">@ViewBag.QueryString</span>"
                                <a href="@Url.Query(new{q=""})" class="btn btn-outline-secondary btn-sm"><i class="fa fa-times"></i> Clear search</a>
                            </div>
                        }
                        @RenderBody()
                        @if (Model.GetType().BaseType.IsGenericType && Model.GetType().BaseType.GetGenericTypeDefinition().IsAssignableFrom(typeof(SysListPageModel<>)))
                        {
                            var list = (IPagedList)Model.List;
                            if (list.TotalItemCount == 0)
                            {
                                <div class="bg-light rounded p-3">
                                    <div class="text-danger h5 text-center fw-light">There's nothing here!</div>
                                </div>
                            }
                            @Html.PagedListPager(list, p => Url.Query(new { p, q = Model.QueryString }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link", "border-secondary" } })
                        }
                    </div>
                </div>
                @if (hasSideBar)
                {
                    <div class="col-md-3 bg-white py-2 shadow-sm" style="min-height: 95vh;">
                        @RenderSection("sidebar")
                    </div>
                }
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select-country/dist/js/bootstrap-select-country.min.js" asp-append-version="true"></script>
    <script src="~/lib/knockout/knockout-latest.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        var menu_btn = document.querySelector("#menu-btn");
        var sidebar = document.querySelector("#sidebar");
        var container = document.querySelector(".my-container");
        menu_btn.addEventListener("click", () => {
            sidebar.classList.toggle("active-nav");
            container.classList.toggle("active-cont");
        });
        $(document).ready(function () {
            $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });
            $(".datepicker-later").datepicker({ dateFormat: "yy-mm-dd", minDate: 0 });
            $(".datepicker-before").datepicker({ dateFormat: "yy-mm-dd", maxDate: 0 });
            $(".select2").select2({
                theme: "bootstrap-5"
            });
            $(".multi-select2").select2({
            });
        });
    </script>
</body>
</html>